/indomain-risec-amr-rgcn-depth_2-seed_0-lr_2e-05.pt
/indomain-risec-amr-rgcn-depth_2-seed_1-lr_2e-05.pt
/indomain-risec-amr-rgcn-depth_2-seed_2-lr_2e-05.pt
/indomain-risec-dep-rgcn-depth_2-seed_0-lr_2e-05.pt
/indomain-risec-dep-rgcn-depth_2-seed_1-lr_2e-05.pt
/indomain-risec-dep-rgcn-depth_2-seed_2-lr_2e-05.pt
/indomain-risec-plaintext-rgcn-depth_2-seed_0-lr_2e-05.pt
/indomain-risec-plaintext-rgcn-depth_2-seed_1-lr_2e-05.pt
/indomain-risec-plaintext-rgcn-depth_2-seed_2-lr_2e-05.pt
