/indomain-risec-amr-rgcn-depth_2-seed_0-lr_2e-05.pt
/indomain-risec-amr-rgcn-depth_2-seed_1-lr_2e-05.pt
/indomain-risec-amr-rgcn-depth_2-seed_2-lr_2e-05.pt
/indomain-risec-dep-rgcn-depth_2-seed_0-lr_2e-05.pt
/indomain-risec-dep-rgcn-depth_2-seed_1-lr_2e-05.pt
/indomain-risec-dep-rgcn-depth_2-seed_2-lr_2e-05.pt
/indomain-risec-plaintext-rgcn-depth_2-seed_0-lr_2e-05.pt
/indomain-risec-plaintext-rgcn-depth_2-seed_1-lr_2e-05.pt
/indomain-risec-plaintext-rgcn-depth_2-seed_2-lr_2e-05.pt
/indomain-japflow-amr_residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/indomain-japflow-amr_residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/indomain-japflow-amr_residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/indomain-japflow-dep_residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/indomain-japflow-dep_residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/indomain-japflow-dep_residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/indomain-mscorpus-amr_residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/indomain-mscorpus-amr_residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/indomain-mscorpus-amr_residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/indomain-mscorpus-dep_residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/indomain-mscorpus-dep_residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/indomain-mscorpus-dep_residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/indomain-risec-amr_residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/indomain-risec-amr_residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/indomain-risec-amr_residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/indomain-risec-dep_residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/indomain-risec-dep_residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/indomain-risec-dep_residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.01-amr_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.01-amr_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.01-amr_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.01-dep_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.01-dep_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.01-dep_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.01-plaintext-concat-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.01-plaintext-concat-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.05-amr_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.05-amr_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.05-amr_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.05-dep_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.05-plaintext-concat-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.1-amr_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.1-amr_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.1-dep_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.1-dep_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.1-plaintext-concat-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.1-plaintext-concat-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.2-amr_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.2-amr_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.2-amr_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.2-dep_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.2-dep_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.2-dep_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.2-plaintext-concat-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.2-plaintext-concat-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.5-amr_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.5-amr_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.5-dep_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.5-dep_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.5-plaintext-concat-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.5-plaintext-concat-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.01-amr_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.01-amr_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.01-amr_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.01-dep_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.01-dep_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.01-plaintext-concat-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.01-plaintext-concat-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.05-amr_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.05-amr_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.05-amr_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.05-dep_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.05-dep_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.05-plaintext-concat-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.05-plaintext-concat-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.1-amr_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.1-amr_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.1-amr_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.1-dep_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.1-dep_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.1-plaintext-concat-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.1-plaintext-concat-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.1-plaintext-concat-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.2-amr_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.2-amr_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.2-dep_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.2-dep_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.2-plaintext-concat-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.2-plaintext-concat-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.2-plaintext-concat-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.5-amr_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.5-amr_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.5-amr_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.5-dep_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.5-dep_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.5-dep_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.5-plaintext-concat-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.5-plaintext-concat-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.05-plaintext-concat-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.5-plaintext-concat-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.05-dep_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.05-dep_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.05-plaintext-concat-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.05-plaintext-concat-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.1-amr_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.1-dep_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.1-plaintext-concat-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.2-plaintext-concat-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.5-amr_residual-residual-rgcn-depth_4-seed_0-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.5-dep_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-fewshot_0.5-plaintext-concat-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-japflow-plaintext-concat-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.01-dep_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.05-plaintext-concat-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.1-dep_residual-residual-rgcn-depth_4-seed_2-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.2-amr_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-fewshot_0.2-dep_residual-residual-rgcn-depth_4-seed_1-lr_2e-05.pt
/transfer-risec-mscorpus-plaintext-concat-rgcn-depth_4-seed_2-lr_2e-05.pt
/indomain-mscorpus-plaintext-rgcn-depth_4-seed_0-lr_2e-05.pt
/indomain-mscorpus-plaintext-rgcn-depth_4-seed_1-lr_2e-05.pt
/indomain-mscorpus-plaintext-rgcn-depth_4-seed_2-lr_2e-05.pt
/indomain-japflow-plaintext-rgcn-depth_4-seed_0-lr_2e-05.pt
/indomain-japflow-plaintext-rgcn-depth_4-seed_1-lr_2e-05.pt
/indomain-japflow-plaintext-rgcn-depth_4-seed_2-lr_2e-05.pt
